@import "base";

header {
  display: flex;
  justify-content: center;
  margin: 1.5rem;

  span {
    opacity: .7;
  }
}

#parent {
  position: absolute;
  top: 12rem;
  left: calc(50% - 25rem);
  height: 16rem;
  width: 50rem;
}
