@import "base";

header {
  display: flex;
  justify-content: center;
  margin: 1.5rem;

  span {
    opacity: .7;
  }
}

#presentation {
  display: flex;
  justify-content: center;
  margin: 5rem 0 0 0;

  #breathe {
    animation: heartbeat 6s ease-in-out infinite;

    h1 {
      font-size: 10rem;
      filter: drop-shadow(0 0 .25rem $black25);
      letter-spacing: .5rem;
      background: -webkit-linear-gradient(90deg, $less-light 0%, $white 30%, $white 70%, $less-light 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      span {
        font-size: 6rem;
        opacity: .9;
        background: -webkit-linear-gradient(90deg, $less-light 0%, $white 30%, $white 70%, $less-light 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    h2 {
      font-size: 1rem;
      font-weight: $regular;
      opacity: .5;
      margin-bottom: -1rem
    }
  }
}

#selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin: 0 10%;

  #with-signals, #without-signals {
    cursor: pointer;
    opacity: .5;
    margin: 1rem 0 2rem 0;

    &.active {
      opacity: 1;
    }
  }
}

#collection {
  display: flex;
  justify-content: center;

  form {
    width: 29rem;

    div {
      display: flex;
      margin: 2rem;
    }

    input, select {
      width: 80%;
      background: none;
      border: none;
      font-size: 1rem;
    }

    label {
      width: 100%;
      display: block;
    }

    button {
      left: calc(50% - 5rem);
      background: #ffffff0a;
      padding: .75rem 1rem;
      border-radius: .5rem;
      width: 10rem;
      box-shadow: 0 .25rem 1rem -.25rem #ffffff0f;
      transition: .1s;
      text-transform: uppercase;
      letter-spacing: .5rem;
      font-weight: $semi-bold;

      &:hover {
        background: #ffffff0f;
      }
    }
  }
}


