/* You can add global styles to this file, and also import other style files */

@import "base";

body {
  background: linear-gradient(-10deg, $extra-blue, $dark-blue, $light-blue, $lesser-blue);
  background-size: 200% 200%;
  animation: gradient 4s ease infinite;
  height: 100vh;
}

