//@import 'animation';
@import 'colour';
@import 'font';
@import 'spacing';

$drop-shadow: 0 .5rem 2rem -.5rem #000000BF;
$small-screen: 1500px;
$ease-in: .15s ease-in-out;
$default-text: 12px;

* {
  margin: 0;
  font-family: Montserrat, serif;
  letter-spacing: 1px;
  //color: $white;
}

.highlight {
  background: #a11e1e;
}
