//@import 'animation';
@import 'colour';
@import 'font';
@import 'spacing';

$drop-shadow: 0 .5rem 2rem -.5rem #000000BF;
$small-screen: 1500px;
$ease-in: .15s ease-in-out;
$default-text: 12px;

* {
  margin: 0;
  font-family: Montserrat, serif;
  letter-spacing: 1px;
  color: $gem;
}

html {
  background: $starship;
}

.highlight {
  background: #a11e1e;
}

.joke {
  display: none;
  position: absolute;
  top: 4rem;
  left: 0;

  &.active {
    display: block;
  }
}
