
// Light
$white: #fff;
$white00: #ffffff00;
$white25: #ffffff40;
$less-light: #ccc;

// Dark
$black: #000;
$black25: #00000040;

// Green
$starship: #e3f05d;

// Blue
$persian: #1238c4;
$tory: #125d9a;
$chill: #0f8c9a;
$turquoise: #40dbbf;
$gem: #2211a6;
